@font-face {
    font-family: Apercu;
    src: url("./Font/Apercu Font Family/ApercuBold.otf") format("otf")
}

* {
    margin: 0;
    font-family: 'ProximaNova,arial,Helvetica Neue,sans-serif';
}

* img {
    border-radius: 7px;
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 5px 0;
}
a{
    color: black !important;
    text-decoration: none !important;
}
@keyframes example {
    0% {
        width: 100%;
    }

    100% {
        width: 70%;
    }
}