@font-face {
    font-family: Apercu;
    src: url("./Font/Apercu Font Family/ApercuBold.otf") format("otf")
}

* {
    margin: 0;
    font-family: 'ProximaNova,arial,Helvetica Neue,sans-serif';
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600 !important;
    line-height: 1.5rem !important;
}

* img {
    border-radius: 7px;
}

li {
    margin-bottom: 7px;
    list-style-type: none;
    cursor: pointer;
}
@keyframes example {
    0% {
        width: 100%;
    }

    100% {
        width: 70%;
    }
}

li:hover {
    width: 70%;
    border-bottom: 2px solid orange;
    animation-name: example !important;
    animation-duration: 1s !important;
}