.divcolsection1 {
    height: 50vh;
}

.backgroundformap {
    background-position: center;
    background-size: cover;
    border: 1px solid #e1e1e1;
    border-radius: 16px;
    height: 75%;
    width: 100%;
}