.containermain {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.overscroll-contain {
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}

.overflow-y-auto {
    overflow-y: auto;
    overflow-x: hidden
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.max-h-screen {
    max-height: 100vh;
}

.top-20 {
    top: 5rem;
    transition: top 350ms ease 0s;
}

.sticky {
    position: -webkit-sticky;
    position: sticky
}